.maze-container {
  width: 100vw;
  height: 85vh;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#maze {
  width: 95%;
  height: 95%;
  /* margin-bottom: 5%; */
}