* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 2%;
  background-color: #06283D;
  color: white;
}
.navbar-title {
  font-size: 25px;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar button {
  width: 100px;
  height: 50px;
  border-radius: 10px;;
  font-size: 20px;
}
ul {
  list-style: none;
}
li {
  width: 200px;
  text-align: center;
}

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}